<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('layouts/head') %> 
</head>
<body>
    
    <%- include('layouts/header') %> 
        
    <!-- MAIN CONTENT -->
    <div id="main">
        
		<%- include('layouts/slider') %> 
        
        <!-- SECTION GIOI THIEU -->
        <section id="gioithieu">
            <div class="container">
                <div class="row">
                    <div class="gioithieu-text col-lg-8 col-md-6 col-12">
                        <p>
                            <strong>Giới Thiệu</strong>
                        </p>
                        <h2>Bánh Chưng Trần Gia</h2>
                        <p>
                            <i class="icon-mini"></i>
                            Có lẽ bánh chưng là một món ăn truyền thống, quen thuộc, gắn liền với chúng ta từ khi còn bé. 
                        </p>
                        <p>
                            <i class="icon-mini"></i>
                            Vào mỗi dịp tết đến xuân về, nấu Bánh Chưng, Bánh Tét đã trở thành truyền thống tốt đẹp được gìn giữ từ bao đời nay của người Việt ta.
                        </p>
                        <p>
                            <i class="icon-mini"></i>
                            Bánh chưng được ví như mặt đất, tượng trưng cho sự đủ đầy, ấm no và hạnh phúc. Bánh Chưng Trần Gia với bí quyết gia truyền và mùi thơm lan tỏa đã tạo nên hương vị tết cổ truyền của người Việt không lần vào đâu được... 
                        </p>
                        <p class="gioithieu__chitiet d-none">
                            <i class="icon-mini"></i>
                            Sản phẩm còn có màu sắc xanh tươi mơn mởn do được ngâm trong nước lá dong, thay vì phẩm màu hóa chất. Nhờ đó vừa giúp bề ngoài bánh có màu sắc thu hút.
                        </p>
                        <p class="gioithieu__chitiet d-none">
                            <i class="icon-mini"></i>
                            Bánh Chưng Trần Gia được sản xuất đảm bảo an toàn vệ sinh thực phẩm, có nhãn mác, thương hiệu, nguồn gốc rõ ràng, giá cả phải chăng phù hợp cho khách hàng sử dụng hàng ngày hoặc làm sính lễ trong cưới, hỏi, đám tiệc hiếu, hỉ; biếu tặng người thân, bạn bè và đối tác…
                        </p>
                        <button id="btn-less" class="btn btn-outline-success rounded-pill d-none">
                            Thu gọn
                            <i class="fas fa-angle-double-left ms-1"></i>
                        </button>
                        <button id="btn-more" class="btn btn-outline-success rounded-pill">
                            Đọc thêm
                            <i class="fas fa-angle-double-right ms-1"></i>
                        </button>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12 mt-3 mt-md-0 d-flex justify-content-center">
                        <img class="gioithieu-img" src="/assets/img/banh-chung-xanh-2-300x300.jpg" alt="">
                    </div>
                </div>
            </div>
        </section>
        <!-- END SECTION GIOI THIEU -->
        
        <!-- SECTION SAN PHAM CHINH -->
        <section id="sanphamchinh" class="px-3">
            <div class="container">
                <div class="section-title">
                    <h3 class="section-title-main">SẢN PHẨM CHÍNH</h3>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-6 mt-3">
                        <div class="my-card">
                            <img class="my-card-img" src="/assets/img/banh-chung-xanh-2-300x300.jpg" alt="">
                            <p class="my-card-title">bánh chưng</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-6 mt-3">
                        <div class="my-card">
                            <img class="my-card-img" src="/assets/img/san-pham/banh-tet-square.jpg" alt="">
                            <p class="my-card-title">Bánh tét</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-6 mt-3">
                        <div class="my-card">
                            <img class="my-card-img" src="/assets/img/banh-chung-xanh-2-300x300.jpg" alt="">
                            <p class="my-card-title">bánh chưng</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-6 mt-3">
                        <div class="my-card">
                            <img class="my-card-img" src="/assets/img/banh-chung-xanh-2-300x300.jpg" alt="">
                            <p class="my-card-title">bánh chưng</p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>
        <!-- END SECTION SAN PHAM CHINH -->
    
        <!-- SECTION BAO CHI -->
        <section id="baochi" class="px-3">
            <div class="container">

                <div class="section-title">
                    <h3 class="section-title-main">TIN TỨC</h3>
                </div>
                <div class="row">
                    <div class=" col-lg-3 col-md-4 col-6 mt-3">
                        <a class="decoration-none" target="_blank" href="http://ttxtdldongnai.vn/vi-tet-trong-banh-chung-tran-gia">
                            <div class="card">
                                <img class="card-img card-img-top" src="/assets/img/tin-tuc/tintuc-1-3x2.jpg" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title color-black">Vị Tết Trong Bánh Chưng Trần Gia.</h5>
                                    <p class="card-text color-black">Tại huyện Vĩnh Cửu, tỉnh Đồng Nai, có một người đàn ông được mệnh danh là "ông trùm" bánh chưng...</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class=" col-lg-3 col-md-4 col-6 mt-3">
                        <a class="decoration-none" target="_blank" href="https://tuoitre.vn/hang-chuc-tan-banh-chung-tet-xuat-ngoai-1044322.htm">
                            <div class="card">
                                <img class="card-img card-img-top" src="/assets/img/tin-tuc/tintuc-2-3x2.jpg" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title color-black   ">Hàng Chục Tấn Bánh Chưng Tết Xuất Ngoại.</h5>
                                    <p class="card-text color-black">TT - Các đơn hàng chủ yếu ở các nước có nhiều Việt kiều sinh sống như Mỹ, Úc, Canada, Pháp, Đức...</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class=" col-lg-3 col-md-4 col-6 mt-3">
                        <a class="decoration-none" target="_blank" href="https://zingnews.vn/vua-banh-chung-xuat-ngoai-post624071.html">
                            <div class="card">
                                <img class="card-img card-img-top" src="/assets/img/tin-tuc/tintuc-3-3x2.jpg" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title color-black   ">Vựa Bánh Chưng Xuất Ngoại.</h5>
                                    <p class="card-text color-black">Mỗi dịp Tết đến, "vua" bánh chưng 39 tuổi gói hàng chục tấn xuất khẩu sang 10 quốc gia trên thế giới...</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class=" col-lg-3 col-md-4 col-6 mt-3">
                        <a class="decoration-none" target="_blank" href="https://tienphong.vn/banh-chung-xuat-ngoai-post610768.tpo">
                            <div class="card">
                                <img class="card-img card-img-top" src="/assets/img/tin-tuc/tintuc-4-3x2.jpg" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title color-black   ">Bánh Chưng Xuất Ngoại.</h5>
                                    <p class="card-text color-black">TP - Đến hẹn lại lên, kiều bào Việt Nam ở nước ngoài lại được thưởng thức bánh chưng Việt Nam để nhớ đến...</p>
                                </div>
                            </div>
                        </a>
                    </div>
            </div>
        </section>
        <!-- END SECTION BAO CHI -->

    </div>
    <!-- END MAIN CONTENT -->
        
    <%- include('layouts/footer') %>

    <%- include('layouts/foot') %> 

</body>
</html>